<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="admin/fragments/head :: head"></div>
</head>
<body>
<!-- Header -->
<div th:replace="admin/fragments/header :: header"></div>

<!-- Sidenav -->
<div id="layoutSidenav">
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>

    <!-- Sidenav Content -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">

                <div class="card shadow-sm mb-4 mt-3">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">Thêm mã giảm giá</h5>
                    </div>
                    <div class="card-body">
                        <!-- Nút Quay Lại -->
                        <a href="/admin/discount" class="btn btn-secondary mb-3" style="font-size:12px">
                            <i class="fas fa-arrow-left"></i> Quay lại
                        </a>
                        <form role="form" method="post" th:action="@{/admin/discount/add_discount}" th:object="${add_discount}" enctype="multipart/form-data">
                            <input type="hidden" class="form-control" th:field="*{discountId}">

                            <div class="row">
                                <!-- ma code -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Code</label>
                                        <input type="text" class="form-control form-control-sm" name="code">
                                    </div>
                                </div>
                                <!-- Mau san pham -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Giá tiền giảm</label>
                                        <input type="text" class="form-control form-control-sm" name="discountValue" th:field="*{discountValue}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Số tiền tối thiểu áp dụng</label>
                                        <input type="text" class="form-control form-control-sm" name="minAmount" th:field="*{minAmount}">
                                    </div>
                                </div>
                                <!-- Hình ảnh -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Số tiền tối đa áp dụng</label>
                                        <input type="text" class="form-control form-control-sm" name="maxAmount" th:field="*{maxAmount}">
                                    </div>
                                </div>
                            </div>

                            <!-- Nút bấm -->
                            <div class="text-end mt-3">
                                <button type="submit" class="btn btn-primary" style="font-size:12px">
                                    <i class="fa-solid fa-plus"></i> Thêm
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Phạm Văn Tuyến</div>
                    <div>
                        <a href="#">Chính sách riêng tư</a>
                        &middot;
                        <a href="#">Điều khoản &amp; dịch vụ</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>