<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Start Head -->
<div th:replace="fragments/head :: head"></div>
<!-- End Head -->

<body>
<!-- Start Navbar  -->
<div th:replace="fragments/header :: header"></div>
<!-- End Navbar -->

<!-- Content container -->
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <p class="text-center fs-3">Đơn hàng của tôi</p>
            <th:block th:if="${session.succMsg}">
                <p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
                <th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <th:block th:if="${session.errorMsg}">
                <p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
                <th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>
            <div class="col-md-12 ">

                <table class="table table-bordered card-sh">
                    <thead >
                        <tr >
                            <th scope="col">Mã đơn hàng</th>
                            <th scope="col">Ngày đặt hàng</th>
                            <th scope="col">Chi tiết sản phẩm</th>
                            <th scope="col">Thành tiền</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order:${orders}">
                        <th scope="row">[[${order.id}]]</th>
                        <td>[[${order.orderDate}]]</td>
                        <td>[[${order.product.product_name}]]</td>
                        <td>
                            <b>Số lượng</b> : [[${order.quantity}]]
                            <br><b>Giá</b> : [[${@formatUtils.formatCurrency(order.price)}]]
                            <br><b>Tổng tiền</b> : [[${order.price != null && order.quantity != null ?
                            @formatUtils.formatCurrency(order.quantity * order.price.doubleValue()) :
                            @formatUtils.formatCurrency(0)}]]
                        </td>
                        <td>[[${order.status}]]</td>
                        <td><th:block th:if="${order.status!='Đã huỷ'}">
                            <a th:href="@{'/user/update-status?id='+${order.id}+'&st=6' }"
                               class="btn btn-sm btn-danger">Huỷ</a>
                        </th:block> <th:block th:unless="${order.status!='Đã huỷ'}">
                            <a href="#" class="btn btn-sm btn-danger disabled" >Huỷ</a>
                        </th:block></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>

<hr class="brick">

<!-- Start Footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- End Footer  -->


<!-- Jquery Validation Library  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{fe/js/script.js}"></script>
<!-- End  -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
</body>
</html>