<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Start Head -->
<div th:replace="/fragments/head :: head"></div>
<!-- End Head -->

<body>
<!-- Start Navbar  -->
<div th:replace="/fragments/header :: header"></div>
<!-- End Navbar -->

<!-- Content container -->
<section>
    <div class="container mt-5 p-5">
        <form action="/user/save-order" method="post" id="orders" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 row">
                        <p class="text-center fs-4">Địa chỉ nhận hàng</p>
                        <hr>
                        <div class="col p-1">
                            <label>Họ</label>
                            <input type="text" name="firstName" required class="form-control mt-1">
                        </div>
                        <div class="col p-1">
                            <label>Tên</label>
                            <input type="text" name="lastName" required class="form-control mt-1">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col p-1">
                            <label>Email</label>
                            <input type="email" name="email" required class="form-control col">
                        </div>
                        <div class="col p-1">
                            <label>Số điện thoại</label>
                            <input type="text" name="phone" required class="form-control col ms-2">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col p-1">
                            <label>Tỉnh/thành phố</label>
                            <input type="text" name="province" required class="form-control col">
                        </div>
                        <div class="col p-1">
                            <label>Huyện/quận</label>
                            <input type="text" name="district" required class="form-control col ms-2">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col p-1">
                            <label>Xã/phường</label>
                            <input type="text" name="commune" required class="form-control col">
                        </div>
                        <div class="col p-1">
                            <label>Số nhà</label>
                            <input type="text" name="address" required class="form-control col ms-2">
                        </div>
                    </div>
                    <!-- </form> -->

                </div>
                <div class="col-md-6">
                    <p class="text-center fs-4">Phương thức thanh toán</p>
                    <hr>
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td>Tổng tiền</td>
                                    <td>:</td>
                                    <td>[[${@formatUtils.formatCurrency(orderPrice)}]]</td>
                                </tr>
                                <tr>
                                    <td>Phí vận chuyển</td>
                                    <td>:</td>
                                    <td>30000 đ</td>
                                </tr>

                                <tr>
                                    <td>Thuế</td>
                                    <td>:</td>
                                    <td>10000 đ</td>
                                </tr>

                                <tr class="border-top">
                                    <td>Thanh toán</td>
                                    <td>:</td>
                                    <td>[[${@formatUtils.formatCurrency(totalOrderPrice)}]]</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card shadow p-3 mb-5 mt-2 bg-body-tertiary rounded">

                        <div class="card-body">
                            <!-- <form action="/login" method="post"> -->
                            <div class="mb-3">
                                <label class="form-label">Phương thức thanh toán</label>
                                <select required name="paymentType" class="form-control">
                                    <option value="">--Lựa chọn--</option>
                                    <option value="COD">Thanh toán khi nhận hàng</option>
                                    <option value="ONLINE">Thanh toán trực tuyến</option>
                                </select>
                                <a href="/payment/vn-pay" class="btn btn-primary">Thanh toán bằng VNPay</a>
                            </div>

                            <button class="btn bg-primary text-white col-md-12">Đặt hàng</button>

                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

</section>

<hr class="brick">

<!-- Start Footer -->
<div th:replace="/fragments/footer :: footer"></div>
<!-- End Footer  -->


<!-- Jquery Validation Library  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{fe/js/script.js}"></script>
<!-- End  -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
</body>
</html>