
<!-- Footer -->
<!--<footer class="bg-light pt-4" th:fragment="footer">
    <div class="container">
        &lt;!&ndash; First row: Links and Payment Methods &ndash;&gt;
        <div class="row">
            &lt;!&ndash; Store Finder Links &ndash;&gt;
            <div class="col-md-3">
                <h5>Tìm cửa hàng</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Tìm cửa hàng gần nhất</a></li>
                    <li><a href="#">Mua hàng từ xa</a></li>
                    <li><a href="#">Gọi trực tiếp cửa hàng gần nhất (Zalo hoặc gọi điện)</a></li>
                </ul>
            </div>
            &lt;!&ndash; Payment Methods &ndash;&gt;
            <div class="col-md-3">
                <h5>Phương thức thanh toán</h5>
                <div class="d-flex flex-wrap">
                    <img src="https://image.cellphones.com.vn/x35/media/logo/payment/alepay-logo.png" alt="Alepay" class="img-fluid m-1" style="width: 40px;">
                    <img src="https://image.cellphones.com.vn/x35/media/logo/payment/zalopay-logo.png" alt="Zalopay" class="img-fluid m-1" style="width: 40px;">
                    <img src="https://image.cellphones.com.vn/x35/media/logo/payment/vnpay-logo.png" alt="VNPAY" class="img-fluid m-1" style="width: 40px;">
                    &lt;!&ndash; Add more logos as needed &ndash;&gt;
                </div>
            </div>
            &lt;!&ndash; Customer Support &ndash;&gt;
            <div class="col-md-3">
                <h5>Liên hệ</h5>
                <p>Gọi mua hàng: <strong>19001919</strong> (8h00 - 22h00)</p>
                <p>Gọi bảo hành: <strong>19001111</strong> (8h00 - 22h00)</p>
                <p>Gọi khiếu nại: <strong>19001212</strong> (8h00 - 22h00)</p>
            </div>
            &lt;!&ndash; Policies and Services &ndash;&gt;
            <div class="col-md-3">
                <h5>Chính sách và dịch vụ</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Quy chế hoạt động</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Liên hệ hợp tác kinh doanh</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                </ul>
            </div>
        </div>

        &lt;!&ndash; Second row: Categories &ndash;&gt;
        <div class="row mt-4">
            <div class="col-md-3">
                <h6>Điện thoại iPhone</h6>
                <ul class="list-unstyled">
                    <li><a href="#">iPhone 13 - iPhone 13 Pro Max</a></li>
                    <li><a href="#">iPhone 12 - iPhone 11</a></li>
                    <li><a href="#">iPhone cũ giá rẻ</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Điện thoại Samsung</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Samsung S22 - Samsung A73</a></li>
                    <li><a href="#">Samsung A53 - Samsung A23</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Laptop</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Laptop HP - Dell - Microsoft Surface</a></li>
                    <li><a href="#">Laptop Acer - Asus - Lenovo</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Phụ kiện - Nhà thông minh</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Camera - Camera hành trình</a></li>
                    <li><a href="#">Bàn ghế công thái học</a></li>
                </ul>
            </div>
        </div>

        &lt;!&ndash; Copyright &ndash;&gt;
        <div class="text-center mt-4">
            <p class="mb-0">© T-Store.VN All Rights Reserved</p>
        </div>
    </div>
</footer>-->


<footer class="footer bg-light mt-5" th:fragment="footer">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-3">
                <h3>Thông tin liên hệ</h3>
                <ul class="list-unstyled">
                    <li><a href="/about">Giới thiệu về Tstore</a></li>
                    <li><a href="/careers">Tuyển dụng</a></li>
                    <li><a href="/news">Tin tức</a></li>
                    <li><a href="/contact">Liên hệ</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3>Hỗ trợ khách hàng</h3>
                <ul class="list-unstyled">
                    <li><a href="/shipping">Chính sách vận chuyển</a></li>
                    <li><a href="/warranty">Chính sách bảo hành</a></li>
                    <li><a href="/payment">Phương thức thanh toán</a></li>
                    <li><a href="/faq">Câu hỏi thường gặp</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3>Kết nối với chúng tôi</h3>
                <div class="social-links">
                    <a href="#" class="me-3"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="me-3"><i class="bi bi-youtube"></i></a>
                    <a href="#" class="me-3"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="me-3"><i class="bi bi-tiktok"></i></a>
                </div>
            </div>

            <div class="col-md-3">
                <h3>Phương thức thanh toán</h3>
                <div class="payment-methods">
                    <!--<img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/visa.png" alt="Visa" class="me-2">
                    <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/mastercard.png" alt="Mastercard" class="me-2">
                    <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/jcb.png" alt="JCB" class="me-2">
                    <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/momo.png" alt="Momo" class="me-2">
                    <img src="https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/zalopay.png" alt="ZaloPay" class="me-2">-->
                </div>
            </div>
        </div>
    </div>
</footer>
