
<!-- Container -->
<div class="sidebar_slide" th:fragment="sidebar_slide">
    <div class="row">
        <!-- Sidebar - Danh mục -->

        <div class="col-md-2 bg-white p-3 border sidebar">
            <nav class="navbar navbar-expand-md navbar-light flex-column align-items-start">
                <h3 class="navbar-brand">
                    <i class="fa-solid fa-list"></i> Danh mục
                </h3>
                <ul class="navbar-nav flex-column w-100" th:each="c:${categories}">
                    <li class="nav-item active">
                        <a th:href="@{'/products?category=' + ${c.category_name}}" class="nav-link d-flex align-items-center">
                            <!--<i class="fa-solid fa-mobile-screen-button me-2"></i>-->
                            [[${c.category_name}]]
                        </a>
                    </li>
                    <!--<li class="nav-item">
                        <a href="/laptop" class="nav-link d-flex align-items-center">
                            <i class="fa-solid fa-laptop me-2"></i>
                            Laptop
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/tablet" class="nav-link d-flex align-items-center">
                            <i class="fa-solid fa-tablet-screen-button me-2"></i>
                            Máy tính bảng
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link d-flex align-items-center">
                            <i class="fa-solid fa-headphones me-2"></i>
                            Âm thanh
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center">
                            <i class="fa-solid fa-house me-2"></i>
                            Nhà thông minh
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center">
                            <i class="fa-solid fa-desktop me-2"></i>
                            PC - Màn hình
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center">
                            <i class="fa-solid fa-keyboard me-2"></i>
                            Phụ kiện
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex align-items-center">
                            <i class="fa-solid fa-tv me-2"></i>
                            Ti vi
                        </a>
                    </li>-->
                </ul>
            </nav>
        </div>

        <!-- Banner -->
        <div class="col-md-10">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/fe/img/dien-thoai-samsung-galaxy-s24-fe-home-27-9-2024.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/fe/img/sliding-home-iphone-16-pro-km-moi.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/fe/img/xiaomi-14t-series-mo-ban-gd2-slide.webp" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-- Banners dưới carousel -->
            <div class="row mt-3">
                <div class="col-md-3">
                    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:10/plain/https://dashboard.cellphones.com.vn/storage/m55-gia-moi-right-banner-30-8-2024.png" class="img-fluid" alt="...">
                </div>
                <div class="col-md-3">
                    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:10/plain/https://dashboard.cellphones.com.vn/storage/right-banner-macbook-cto-09-08-new-new.jpg" class="img-fluid" alt="...">
                </div>
                <div class="col-md-3">
                    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:10/plain/https://dashboard.cellphones.com.vn/storage/b2s-2024-right-banner-laptop.jpg" class="img-fluid" alt="...">
                </div>
                <div class="col-md-3">
                    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:90/plain/https://dashboard.cellphones.com.vn/storage/dien-thoai-xiaomi-redmi-14c-home-30-8.jpg" class="img-fluid" alt="...">
                </div>
            </div>
        </div>

    </div>
</div>


