<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Start Head -->
<div th:replace="fragments/head :: head"></div>
<!-- End Head -->

<body>
<!-- Start Navbar  -->
<div th:replace="fragments/header :: header"></div>
<!-- End Navbar -->

<!-- Content container -->
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-5 p-5">
                <img alt="" src="fe/img/ecom.png" width="100%" height="400px">
            </div>
            <div class="col-md-7 p-2">
                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-header text-center">
                        <p class="fs-4 text-center">Đăng ký</p>
                        <th:block th:if="${session.succMsg}">
                            <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                            <th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>

                    <div class="card-body">
                        <form action="/saveUser" enctype="multipart/form-data" id="userRegister" novalidate method="post">
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Họ và tên</label>
                                    <input required class="form-control" name="name" type="text">
                                </div>

                                <div class="col">
                                    <label class="form-label">Số điện thoại</label>
                                    <input required class="form-control" name="mobileNumber" type="text">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input required class="form-control" name="email" type="email">
                            </div>


                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Tỉnh/thành phố</label>
                                    <input required class="form-control" name="province" type="text">
                                </div>

                                <div class="col">
                                    <label class="form-label">Huyện/quận</label>
                                    <input required class="form-control" name="district" type="text">
                                </div>


                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Xã/phường</label>
                                    <input required class="form-control" name="commune" type="text">
                                </div>

                                <div class="col">
                                    <label class="form-label">Số nhà</label>
                                    <input required class="form-control" name="address" type="text">
                                </div>

                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Mật khẩu</label>
                                    <input required class="form-control" name="password" type="password" id="pass">
                                </div>

                                <div class="col">
                                    <label class="form-label">Xác nhận mật khẩu</label>
                                    <input required class="form-control" name="cpassword" type="password">
                                </div>

                            </div>

                            <div class="mb-3">
                                <label class="form-label">Ảnh hồ sơ</label> <input
                                    class="form-control" name="img" type="file">
                            </div>
                            <button type="submit" class="btn bg-danger text-white col-md-12">Đăng ký</button>
                        </form>
                    </div>

                    <div class="card-footer text-center">
                        Bạn đã có tài khoản? <a href="/login" class="text-decoration-none">Đăng nhập ngay!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<hr class="brick">

<!-- Start Footer -->
<div th:replace="fragments/footer :: footer"></div>
<!-- End Footer  -->


<!-- Jquery Validation Library  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{fe/js/script.js}"></script>
<!-- End  -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
</body>
</html>